.big-business {
  width: 100vw;
}

.img-div {
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bb-article {
  padding: 1em;
}
